# These files are text and should be normalized (convert crlf => lf)
*.js      text eol=lf
*.php     text eol=lf
*.conf    text eol=lf
*.yml     text eol=lf
*.json    text eol=lf
*.volt    text eol=lf
*.xml     text eol=lf
*.bat     text eol=lf
*.dist    text eol=lf
*.svg     text eol=lf
*.sql     text eol=lf

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.gif     binary
*.jpg     binary
*.jpeg    binary