.idea
.DS_Store
public/.DS_Store

__pycache__
.phalcon
/behat.yml

/.deployignore
/deploy.bat

/public/build
/public/doc
/properties.cnf
/app/cache/*
/composer.phar
/composer.lock
/vendor
/temp*
/data/*
behat.yml

/app/config/config.ini
/nbproject/private/

*.patch

.deployigonre
deploy.bat