[application]
locale = pl
env   = prod
name  = Suggester
version = 1.0
short_name = suggester
description = Simple suggester for PHP Phalcon applications.
secret = d41d8cd98f00b204e9800998ecf8427e

[dirs]
config       = /config
bin          = /../bin
modules      = /modules
libs         = /libs
tasks        = /tasks
cache        = /cache
temp         = /cache/temp
tests        = /../tests
data         = /../data
translations = /config/translations

[database]
adapter  = mysql
charset  = utf8
host     = localhost
username = root
password = null
dbname   = suggester

[session]
name = SUGGESTER
type = default

[pager]
limit = 15
length = 5

[security]
rounds  = 32
